:root {
  /* DARK MODE - DEFAULT */
  /* Background colors */
  --bg-color: rgb(43, 43, 43);

  /* Foreground colors */
  --fg-color: rgb(66, 66, 66);
  --fg-color-darker: rgb(56, 56, 56);
  --fg-color-lighter: rgb(107, 107, 107);

  /* Accent colors */
  --accent-color: rgb(104, 159, 204);
  --accent-color-darker: rgb(54, 83, 145);
  --accent-color-lighter: rgb(207, 235, 255);

  /* Text colors */
  --text-color: rgb(252, 252, 252);
  --link-color: rgb(168, 235, 255);
}

:root[data-theme="light"] {
  /* LIGHT MODE */
  /* Background colors */
  --bg-color: rgb(124, 124, 124);

  /* Foreground colors */
  --fg-color: rgb(211, 211, 211);
  --fg-color-darker: rgb(187, 187, 187);
  --fg-color-lighter: rgb(240, 240, 240);

  /* Accent colors */
  --accent-color: rgb(72, 141, 197);
  --accent-color-darker: rgb(54, 83, 145);
  --accent-color-lighter: rgb(110, 184, 236);

  /* Text colors */
  --text-color: rgb(10, 10, 10);
  --link-color: rgb(36, 75, 134);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:
    Segoe UI,
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: var(--link-color);
}

hr {
  border-color: var(--accent-color);
  margin: 1rem 0rem;
}

table {
  border-collapse: collapse;
}

li {
  margin: 0.5rem 0rem;
  line-height: 1.5rem;
}

form button {
  width: 70%;
  height: fit-content;
  justify-self: center;
  align-self: center;
}

th,
td {
  border: 1px solid var(--fg-color-lighter);
  padding: 15px;
}

tbody tr:nth-child(even) {
  background-color: var(--fg-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--fg-color-darker);
}

code {
  font-family: jetbrains-mono, monospace;
  background-color: var(--fg-color-darker);
  color: var(--link-color);
  padding: 0 0.25em;
}

button {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
}

#page-top {
  background-color: var(--fg-color);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
}

#page-top img {
  height: 3rem;
  margin-right: 1rem;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--fg-color-lighter);
}

#main-nav li {
  margin: 0;
  line-height: 1;
}

#main-nav li a {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-right: 1px solid var(--fg-color);
  font-weight: 600;
}

#main-nav li a:hover {
  background-color: var(--fg-color-darker);
}

#content {
  width: 60%;
  margin-inline: auto;
  background-color: var(--fg-color);
  padding: 1rem;
}

@media (max-width: 768px) {
  #content {
    width: auto;
  }
  #main-nav ul {
    flex-direction: column;
  }
  form {
    width: auto;
  }
}

#lesson-nav-button-container {
  display: flex;
  justify-content: space-between;
}

#return-to-top {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

#return-to-top:hover {
  background-color: var(--accent-color-darker);
}

#header-spacer {
  height: 0.5rem;
  background-color: var(--accent-color);
}

.ref-table {
  width: 100%;
  margin-inline: auto;
}

.code-example {
  background-color: var(--fg-color-lighter);
  padding: 1rem;
  border-radius: 0.5rem;
}

.code-example code {
  background-color: transparent;
  color: inherit;
}

.code-example pre,
.code-example div {
  background-color: var(--fg-color-darker);
  padding: 1rem;
}

.code-example pre {
  overflow-x: auto;
  border-left: 0.25rem solid var(--accent-color);
}

.code-example img {
  margin: 0.5rem 0rem;
}

.note {
  background-color: var(--accent-color-darker);
  padding: 1rem;
}

.checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1em;
  height: 1em;

  background-color: rgb(73, 212, 73);
  color: white;
  border-radius: 0.15em;

  padding: 0.25rem;

  font-size: 1.25rem;
  font-weight: 600;
}

.xmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1em;
  height: 1em;

  background-color: rgb(194, 53, 84);
  color: white;
  border-radius: 0.15em;

  padding: 0.25rem;

  font-size: 1.25rem;
  font-weight: 600;
}
